body{
    /*background-color: #7DAFE1;*/
    background-image: url("../assets/visuel3.jpg");
    background-position: absolute;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 80%;
}

mario{
    position:absolute;
    top:170px;
    left:40px;
}